numpy
pandas
scikit-learn
matplotlib
seaborn
joblib
pyyaml
openpyxl
pyarrow

# Optional -- only required if you use src.evaluation.importance.shap_feature_importance()
# shap

# Optional -- only required to run the test suite
# pytest
